<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <mat-icon>home</mat-icon> Home
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/login"><mat-icon>person</mat-icon> Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/register"><mat-icon>person_add</mat-icon> Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="recipies/all-recipies"><mat-icon>menu_book</mat-icon> All Recipes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="recipies/add-recipe"><mat-icon>add_box</mat-icon> Add Recipe</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item ml-auto"> <!-- Add ml-auto class to the list item -->
          <a class="nav-link" routerLink="logOut"><mat-icon>exit_to_app</mat-icon> Logout</a>
        </li>
      </ul>
    </div>
  </nav>