:host {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Align form to the left */
  min-height: 100vh;
  background: url('../../assets/images/backgrounds/food1.jpg') center/cover no-repeat;
}