/* Add your custom styles here */

.star {
    font-size: 24px;
    color: #ffc107;
  }
  
  .star.filled {
    color: #f39c12;
  }
  
  .difficulty {
    margin-bottom: 20px;
  }
  
  img {
    border-radius: 8px;
  }
  
  .list-group {
    max-height: 300px;
    overflow-y: auto;
  }
  